<h1>Welcome to the DPL Store!</h1>
<%= image_tag('chessboard.jpg', size: "100x100") %>

<div class="left-column">
  <h2>Our Products</h2>
  <% @products.each do |product| %>
    <div class="product">
      <%= product.name %>
    </div>
  <% end %>
  
</div>

<div class="right-column">
  <h1>Our Cars</h1>
  <% @cars.each do |car| %>
    <div class="car">
      <%= car.year %> <%= car.make %> <%= car.model %>
    </div>

  <% end %>

  
</div>

<br clear="all">